AppData\personal.csv
dictionaries\anniversary_natural.csv
dictionaries\anniversary_supplement.csv
dictionaries\anniversary_phrases.csv
dictionaries\anniversary_modern.csv
dictionaries\anniversary_core.csv
dictionaries\anniversary_cmu.csv