a,-able
ab,-able
abo,-ability
b,-ble
d,-hood
f,-ful
fe,-fully
fi,-ify
fz,-ification
gm,-gram
g,-ing
il,-ility
j,-age
l,-like
le,-ology
lj,-logical
lje,-logically
lo,-ality
m,-ment
ml,-mental
s,-self
ss,-selves
w,-ward
z,-ship